/* You can add global styles to this file, and also import other style files */
.hand {
  cursor: pointer;
}

.p-button.p-button-sm {
  font-size: 0.875rem;
  padding: 6px 14px 6px 12px;
}

.p-dialog-footer .p-confirm-dialog-reject {
  background: #eb2f2f;
  border: none;
  padding: 7px 20px 7px 20px !important;
}

.p-dialog-footer .p-confirm-dialog-reject:hover {
  background: #DC2626 !important;
}

.p-dialog-footer .p-confirm-dialog-accept {
  background: #19a262;
  border: none;
  padding: 7px 20px 7px 20px !important;
}

.p-dialog-footer .p-confirm-dialog-accept:hover {
  background: #0f8b51 !important;
}

input.form-control {
  height: 42px !important;
}

.validation-error {
  color: #DC2626 !important;
  font-size: 13px;
}
